.evil-menu {
    padding: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $box-shadow;
    
    width: 256px;

    &-item {
        cursor: pointer;
        list-style: none;
        padding: $menu-item-padding-y $menu-item-padding-x;
        transition: $menu-item-transition;

        &:hover {
            background-color: rgba(0, 0, 0, .06);
        }

        &:active {
            color: #fff;
            background-color: $menu-item-active-color;
            border-width: $menu-item-active-border-width;
        }

    }

    &-item.active {
        color: #fff;
        background-color: $menu-item-active-color;
        border-width: $menu-item-active-border-width;
    }
}