.evil-menu {

    &-item {
        cursor: pointer;
        list-style: none;
        padding: $menu-item-padding-y $menu-item-padding-x;
        transition: $menu-item-transition;

        &:hover {
            background-color: rgba(0, 0, 0, .06);
        }

        &:active,
        &:hover {
            color: $menu-item-active-color;
            // background-color: $menu-item-active-color;

        }

        &.is-disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: not-allowed;
        }

        &.active {
            color: $menu-item-active-color;
        }

    }

    .sub-menu {
        position: relative;
        border-bottom: $menu-item-active-border-width solid transparent;

        .submenu-title {
            display: flex;
            align-items: center;
        }

        // padding: 0;
        .evil-submenu-list {
            white-space: nowrap;


            .evil-menu-item {
                padding: $menu-item-padding-y $menu-item-padding-x;
                cursor: pointer;
                transition: $menu-transition;
                color: $body-color;
                transition: $menu-item-transition;
                border: 0;

                &:hover,
                &:active {
                    color: #fff;
                    background-color: $primary;
                    border: 0
                }
            }
        }
    }
}

.evil-menu.evil-menu-horizontal {
    display: flex;
    padding: 0;
    border-bottom: $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;

    .evil-menu-item {

        &:active,
        &:hover {
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }

        &.active {
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }

    .sub-menu {
        .evil-submenu-list {
            position: absolute;
            padding-left: 0;
            top: calc(100% + 8px);
            left: 0;
            box-shadow: $submenu-box-shadow;
        }
    }
}

.evil-menu.evil-menu-vertical {
    padding-left: 0;
    flex-direction: column;
    border-bottom: 0;

    .evil-menu-item {
        border-left: $menu-item-active-border-width solid transparent;

        &:active,
        &:hover {
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }

        &.active {
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }

    .sub-menu {
        .evil-submenu-list {
            padding-left: 0;
        }
    }
}